.auth {
  height: 100vh;
  background-color: rgb(201, 201, 201);
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  padding: 20px 40px;
  transform: translate(-50%, -50%);
  background-color: rgb(231, 231, 231);
}

.login .text {
  font-size: 1.2rem;
  color: rgb(23, 104, 209);
}

.input {
  width: 100%;
  border: 1px solid rgb(49, 49, 49);
  margin: 1rem 0;
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  input {
    border: none;
    outline: none;
  }
}

.inputs {
  width: 100%;
  border: 1px solid rgb(49, 49, 49);
  margin: 1rem 0;
  padding: 0.3rem 0.6rem;
  border-radius: 3px;

  input {
    border: none;
    outline: none;
  }
}

.button {
  width: 100%;
  background-color: rgb(23, 104, 209);
  padding: 0.3rem;
  border-radius: 3px;
  margin: 0.8rem 0 0.8rem;
  cursor: pointer;
  color: whitesmoke;
}

.buts {
  width: 100%;
  background-color: rgb(23, 104, 209);
  padding: 0.3rem;
  border-radius: 3px;
  margin: 0 0 0.4rem;
  cursor: pointer;
  color: whitesmoke;
}

.password {
  display: flex;
  justify-content: space-between;

  a {
    color: rgb(23, 104, 209);
  }
}

.register {
  text-align: center;

  a {
    color: rgb(23, 104, 209);
  }
}
.btns {
  width: 100%;
  background-color: rgb(23, 104, 209);
  padding: 0.3rem;
  border-radius: 3px;
  margin: 0 0 0.8rem;
  cursor: pointer;
  color: whitesmoke;
}

.reset {
  width: 100%;
  background-color: rgb(23, 104, 209);
  padding: 0.3rem;
  border-radius: 3px;
  margin: 0 0 0.8rem;
  cursor: pointer;
  color: whitesmoke;
}

.link  {
  color: rgb(23, 104, 209);
}


.confirm{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  padding: 20px 40px;
  transform: translate(-50%, -50%);
  background-color: rgb(231, 231, 231);
}