.header{
    background:linear-gradient(rgba(0, 0, 0, 0.938) , rgba(0, 0, 0, 0.911)) , url('../public/blog.png');
    min-height: 100vh;
    color: whitesmoke;
}

.header p{
    background-color: rgb(255, 255, 255);
    width: 30px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    height: 30px;
    border-radius: 50%;
    margin: 1rem;
}

.icon{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.header span{
    display: flex;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
    justify-content: center;
    width: 100%;
    border-radius: 3px;
    max-width: 800px;
    color: black;
    padding: .7rem;
    background: rgba(231, 231, 231, 0.897);
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 1px 14px rgb(255, 255, 255);

}