.header{
    background:linear-gradient(to right, rgba(10, 113, 209, 0.918) , rgba(0, 0, 0, 0.644)) , url('../public/blog.png');
    min-height: 100vh;
    color: whitesmoke;
}

.header p{
    background-color: rgb(255, 255, 255);
    width: 30px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    height: 30px;
    border-radius: 50%;
    margin: 1rem;
}

.icon{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.header span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

}